@media(max-width: 1500px) {
    .header__sub {
        li {
            width: 120px;
            a {
                font-size: 18px;
            }
        }
    }
}
@media(max-width: 1230px) {
    .container {
        width: 960px;
    }
    .header__sub {
        display: none;
    }

    .header__main li a {
        font-size: 20px;
    }
    .header__time {
        font-size: 16px;

    }
    .header__phone {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
    .header__contacts {
        width: 183px;
    }
    .slider__slide {
        overflow: hidden;
        width: 960px;
    }
    .products__tabs .tab {
        font-size: 19px;
    }
    .item {
        width: 28.4555%;
    }
    .footer__map {
        width: 361px;
        iframe {
            width: 100%;
        }
    }
    .page__block {
        padding: 25px;

    }
    .page {
        &__title {
            font-size: 50px;
            line-height: 1.3;
        }
        &__text {
            font-size: 18px;
            line-height: 1.2;
            margin-top: 20px;
        }
    }
    .categories-item {
        width: 236px;
    }
    .profile-item {
        width: 29.9%;
    }
    .profile-item__more {
        img {
            object-fit: contain;
            object-position: top;
        }
    }
    .profile-more {
        width: 53%;
        &__title {
            font-size: 27px;
        }
        
    }
    .profile-more-item {
        width: 47%;
    }
    .profile-more-item__progress {
        width: 100%;
    }
    .item__img {
        text-align: center;
    }
    .error {
        padding: 80px 0;
    }
    .error__title {
        font-size: 50px;
        line-height: 54px;
    }
    .error__text {
        font-size: 28px;
    }
}
@media(max-width: 993px) {
    .container {
        width: 960px;
    }

}
@media(max-width: 769px) {
    .container {
        width: 560px;
    }

}
@media(max-width: 577px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }


}