.profile__wrapper {
    display: flex;
    margin-top: 46px;
    gap: 40px;
    flex-wrap: wrap;
}
.profile {
    margin-top: 80px;
    &-item {
        border: 3px solid #000000;
        width: 30.4%;
        padding: 25px 0;
        text-align: center;
        transition: .5s all;
        position: relative;
        &__title {
            font-weight: bold;
            font-size: 25px;
            line-height: 1.2;
            margin-top: 20px;
            text-align: center;
            color: #004C9E;
        }
        &:before {
            content: url('../icons/eye.svg');
            position: absolute;
            right: 50%;
            opacity: 0;
            transition: .5s all;
            visibility: hidden;
            top: 50%;
            transform: translate(50%, -50%);
        }
        &:hover {
            background: rgba(0, 76, 158, 0.53);
            cursor: pointer;
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
        &__more {
            display: none;
            padding: 40px;
            justify-content: space-between;
            background: #E5E5E5;
            border: 3px solid #000000;
        }

    }
    &-more {
        width: 60%;
        
        &__title {
            font-weight: bold;
            font-size: 32px;
            line-height: 1.2;
            color: #004C9E;
        }
        &__text {
            font-size: 22px;
            line-height: 28px;
            color: #000000;
            margin: 20px 0 0;
        }
        &__extra {
            margin-top: 12px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        &-item {
            width: 48%;
            &__title {
                font-weight: bold;
                font-size: 18px;
                line-height: 1.2;
                color: #004C9E;
            }
            &__progress {
                background: #FFFFFF;
                height: 32px;
                width: 236px;
                display: inline-block;
                vertical-align: middle;
            }
            &__bar {
                background: $main-color;
                height: 100%;
            }
            &__percents {
                display: inline-block;
                font-weight: bold;
                font-size: 18px;
                color: $main-color;
                margin-left: 15px;
            }
        }
    }
    &-btns {
        margin-top: 35px;
        .btn_black {
            margin-left: 35px;
        }
    }
}