.review {
    margin-top: 115px;
    .title {
        font-size: 42px;
        color: $main-color;
        font-weight: 700;
        text-align: center;
    }
    &-review {
        margin-top: 62px;
        background: #EAEAEA;
        padding: 38px;
    }
    &__text {
        font-size: 24px;
        line-height: 30px;
    }
    &__name {
        margin-top: 10px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
    }
    &__address {
        font-size: 20px;
        line-height: 25px;
    }
    &__imgs {
        margin-top: 21px;
        img {
            width: 124px;
            height: 132px;
            margin-right: 22px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__link {
        margin-top: 60px;
        text-align: center;
        text-decoration: underline;
        font-weight: 700;
        font-size: 30px;
        display: block;
        color: #000;
        transition: .5s all;
        &:hover {
            color: $main-color;
        }
    }
}

.reviews__extra {
    display: none;
}
.reviews {
    #show-reviews {
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
    #show-reviews:checked + label + .reviews__extra {
        display: block;
    }
    #show-reviews:checked + label {
        display: none;
    }
}