include assets/header.pug
include assets/mixins.pug
+pageTitle('Продукция', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.')
section.categories 
    .container 
        .categories__wrapper 
            a(href="windows.html").categories-item 
                img(src="./img/category.jpg", alt="category")
                .categories__title Пластиковые окна
            a(href="windows.html").categories-item 
                img(src="./img/category.jpg", alt="category")
                .categories__title Пластиковые двери
            a(href="windows.html").categories-item 
                img(src="./img/category.jpg", alt="category")
                .categories__title Балконные рамы
            a(href="windows.html").categories-item 
                img(src="./img/category.jpg", alt="category")
                .categories__title Раздвижные системы
            a(href="windows.html").categories-item 
                img(src="./img/category.jpg", alt="category")
                .categories__title Алюминевые окна
include assets/faq.pug
include assets/footer.pug