include assets/header.pug
section.error
    .container
        .error__title ОШИБКА 404
        .error__text Такая страница не найдена. Перейдите на главную страницу или вернтесь на предыдущую.


include assets/footer.pug