include assets/header.pug

section.special-head 
    img(src="img/kbe/kbe-76.jpg", alt="kbe-76")
    .container 
        .special-head__block
            .special-head__subtitle Пластиковое окно 
            .special-head__title KBE 76
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.
            .special-head__price 350$
            a(href="#").btn.order__call РАССЧИТАТЬ СТОИМОСТЬ 

section.text-block 
    .container 
        .faq__title KBE 76
        .text-block__text 
            img(src="img/kbe/photo.png", alt="1")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.
        .text-block__text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.
            img(src="img/kbe/photo.png", alt="2")

        .faq__title Заголовок
        .text-block_sp 
            p.p-left Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. 
            img(src="img/kbe/str.png", alt="")
            p.p-right Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. 
include assets/faq.pug
include assets/review.pug
include assets/call.pug
include assets/footer.pug