include assets/header.pug
include assets/mixins.pug

+pageTitle('Отзывы', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.')
.reviews
    .container
        .review-review 
            .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
            .review__name Дмитрий П.
            .review__address ул. Якуба Коласа
            .review__imgs 
                img(src="./img/review/review-1.jpg", alt="1")
                img(src="./img/review/review-2.jpg", alt="2")
                img(src="./img/review/review-3.jpg", alt="3")
                img(src="./img/review/review-1.jpg", alt="1")
        .review-review 
            .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
            .review__name Дмитрий П.
            .review__address ул. Якуба Коласа
            .review__imgs 
                img(src="./img/review/review-1.jpg", alt="1")
                img(src="./img/review/review-2.jpg", alt="2")
                img(src="./img/review/review-3.jpg", alt="3")
                img(src="./img/review/review-1.jpg", alt="1")
        .review-review 
            .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
            .review__name Дмитрий П.
            .review__address ул. Якуба Коласа
            .review__imgs 
                img(src="./img/review/review-1.jpg", alt="1")
                img(src="./img/review/review-2.jpg", alt="2")
                img(src="./img/review/review-3.jpg", alt="3")
                img(src="./img/review/review-1.jpg", alt="1")
        .review-review 
            .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
            .review__name Дмитрий П.
            .review__address ул. Якуба Коласа
            .review__imgs 
                img(src="./img/review/review-1.jpg", alt="1")
                img(src="./img/review/review-2.jpg", alt="2")
                img(src="./img/review/review-3.jpg", alt="3")
                img(src="./img/review/review-1.jpg", alt="1")
        input(type="checkbox" name="reviews" id="show-reviews").hidden
        label(for="show-reviews").review__link Больше
        .reviews__extra
            .review-review 
                .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
                .review__name Дмитрий П.
                .review__address ул. Якуба Коласа
                .review__imgs 
                    img(src="./img/review/review-1.jpg", alt="1")
                    img(src="./img/review/review-2.jpg", alt="2")
                    img(src="./img/review/review-3.jpg", alt="3")
                    img(src="./img/review/review-1.jpg", alt="1")
            .review-review 
                .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
                .review__name Дмитрий П.
                .review__address ул. Якуба Коласа
                .review__imgs 
                    img(src="./img/review/review-1.jpg", alt="1")
                    img(src="./img/review/review-2.jpg", alt="2")
                    img(src="./img/review/review-3.jpg", alt="3")
                    img(src="./img/review/review-1.jpg", alt="1")
include assets/footer.pug