include assets/mixins.pug
include assets/header.pug
+pageTitle('Пластиковые окна', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. Nunc nec ex arcu. Donec accumsan erat ac purus maximus, viverra imperdiet augue bibendum. Mauris diam justo, imperdiet quis neque eget, dignissim tincidunt neque. Curabitur vestibulum sed sem vitae accumsan. Ut nec leo purus. Quisque molestie rhoncus lacus vitae iaculis.')
section.w-products 
    .container 
        .products__wrapper 
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК
            .item 
                .item__img 
                    img(src="./img/product/photo.jpg", alt="photo")
                .item__title Окно пластиковое 1 
                .item__price от 240 USD
                button.item__btn.btn.order__call ЗАКАЗАТЬ ЗВОНОК

include assets/profile.pug
include assets/faq.pug
include assets/review.pug
include assets/call.pug
include assets/footer.pug