.call 
    .container 
        .call__wrapper 
            .call__title Закажите звонок!
            .call__text Если остались вопросы или хотите сделать заказ, оставьте свой номер телефона и мы с вами свяжемся в ближайшее время!
            form
                input(type="text" value="+375 (__) ___-__-__").input
                button.btn ЗАКАЗАТЬ ЗВОНОК  