section.faq 
    .container  
        .faq__title ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
        .faq-item 
            input#faq-question(type="checkbox")
            label(for="faq-question") Lorem ipsum dolor sit amet, consectetur ?
                <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                </svg>
            .faq__text Praesent ut diam nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius, nulla vel bibendum feugiat, arcu mi malesuada mauris, non cursus nunc ex eleifend elit. Maecenas maximus ac neque vel finibus. In in placerat risus. Sed aliquam egestas fermentum. Nam pretium volutpat dictum. Phasellus varius non leo et rhoncus. Donec pretium quis lorem et cursus.
        .faq-item 
            input#faq-question2(type="checkbox")
            label(for="faq-question2") Lorem ipsum dolor sit amet, consectetur ?
                <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                </svg>
            .faq__text Praesent ut diam nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius, nulla vel bibendum feugiat, arcu mi malesuada mauris, non cursus nunc ex eleifend elit. Maecenas maximus ac neque vel finibus. In in placerat risus. Sed aliquam egestas fermentum. Nam pretium volutpat dictum. Phasellus varius non leo et rhoncus. Donec pretium quis lorem et cursus.
        .faq-item 
            input#faq-question3(type="checkbox")
            label(for="faq-question3") Lorem ipsum dolor sit amet, consectetur ?
                <svg width="20" height="34" viewBox="0 0 20 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="1.63477" width="23.8519" height="2.51073" transform="rotate(40.638 1.63477 0)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                <rect x="18.833" y="16.7412" width="23.8519" height="2.51073" transform="rotate(134.025 18.833 16.7412)" fill="#004C9E"/>
                </svg>
            .faq__text Praesent ut diam nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius, nulla vel bibendum feugiat, arcu mi malesuada mauris, non cursus nunc ex eleifend elit. Maecenas maximus ac neque vel finibus. In in placerat risus. Sed aliquam egestas fermentum. Nam pretium volutpat dictum. Phasellus varius non leo et rhoncus. Donec pretium quis lorem et cursus.



