section.profile 
    .container 
        h2.faq__title ВИДЫ ПРОФИЛЯ
        .profile__wrapper 
            .profile-item.tab-kbe-76 
                img(src="img/kbe.png", alt="kbe")
                .profile-item__title KBE 76
            .profile-item.tab-kbe-gut 
                img(src="img/kbe.png", alt="kbe")
                .profile-item__title KBE GUT
            .profile-item.tab-salamander-2d
                img(src="img/salamander.png", alt="salamander")
                .profile-item__title SALAMANDER DESIGN 2D
            .profile-item__more.tab-kbe-76
                img(src="img/schugo.jpg", alt="schugo")
                .profile-more
                    .profile-more__title SCHUCO CORONA SI82 CLASSIC
                    p.profile-more__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. 
                    .profile-more__extra 
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                    .profile-btns 
                        a(href="#").btn.order__call ЗАКАЗАТЬ  
                        a(href="kbe.html").btn.btn_black ПОДРОБНЕЕ  
            .profile-item__more.tab-kbe-gut 
                img(src="img/schugo.jpg", alt="schugo")
                .profile-more 
                    .profile-more__title SCHUCO CORONA SI82 CLASSIC
                    p.profile-more__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. 
                    .profile-more__extra 
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                    .profile-btns 
                        a(href="#").btn.order__call ЗАКАЗАТЬ  
                        a(href="kbe.html").btn.btn_black ПОДРОБНЕЕ  
            .profile-item__more.tab-salamander-2d
                img(src="img/schugo.jpg", alt="schugo")
                .profile-more 
                    .profile-more__title SCHUCO CORONA SI82 CLASSIC
                    p.profile-more__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quam nec libero ornare, eu suscipit purus rutrum. Nam ut dui id diam posuere volutpat non vitae leo. Praesent consequat felis accumsan massa tincidunt, ac condimentum ligula convallis. 
                    .profile-more__extra 
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                        .profile-more-item 
                            .profile-more-item__title Шумоизоляция
                            .profile-more-item__progress 
                                .profile-more-item__bar(style="width: 70%")
                            .profile-more-item__percents 70%
                    .profile-btns 
                        a(href="#").btn.order__call ЗАКАЗАТЬ  
                        a(href="kbe.html").btn.btn_black ПОДРОБНЕЕ  