.review 
    .container 
        .title ОТЗЫВЫ
        .review-review 
            .review__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, dolores sint vero maiores accusamus optio fugiat suscipit dolorum nulla ullam, harum ea labore quos aut dolore aliquam est eveniet!
            .review__name Дмитрий П.
            .review__address ул. Якуба Коласа
            .review__imgs 
                img(src="./img/review/review-1.jpg", alt="1")
                img(src="./img/review/review-2.jpg", alt="2")
                img(src="./img/review/review-3.jpg", alt="3")
                img(src="./img/review/review-1.jpg", alt="1")
        a(href="reviews.html").review__link Посмотреть больше отзывов